.admin {

  .content {
    width: 100%;
  }

  .badge {
      &.bg-primary {
        background-color: rgba(4, 0, 195, 0.1019607843);
        color: #0400C3;
        border: 1px solid #C0BFF3;
    }

  }

  .mob_setting{
    display: none;
    
    @media (max-width: 640px) {
      display: block;

    }
  

}

  .disabled {
    cursor: inherit !important;
  }

  main {
    padding: 1.4rem 3rem;
  }

  @include media-breakpoint-down(lg) {
    main {
      padding: 1.4rem 1rem;
    }

    .main {
      margin-top: 7rem;

    }
  }


  .right {
    background-color: $white;
    border: 1px solid #EBEBEB;
    padding: 0;
    border-radius: 0.625rem;

    .right-sidebar {
      &.action-details {
        min-height: 30rem;

        @media (max-width: 768px) {
          min-height: auto;
        }
      }

      &.actions {
        padding: 1.5rem 0;
        border-bottom: 1px solid $gray-300;


        @media (max-width: 1366px) {
          padding: 1rem 0;
        }

        .title {
          padding: 0 1.5rem;

          h5 {
            margin-bottom: 0;
            color: #53545C;
            font-weight: 600;

            @media (max-width: 1366px) {
              font-size: 1.1rem;
            }
          }
        }

      }

      &.action-details {
        .custom-spacing {
          padding: 1rem 0;
          margin-bottom: 1.5rem;
          margin-top: .5rem;

          @media (max-width: 1366px) {
            margin-bottom: 1rem;
          }
        }

        .right-sidebar-icon {
          i {
            font-size: 2rem;
            color: $link-color;

            @media (max-width: 1280px) {
              font-size: 2rem;
            }
          }
        }

        .right-sidebar-details {
          .module-title {
            p {
              font-weight: 500;
              font-size: 1.1rem;
              color: #041026;

              @media (max-width: 1366px) {
                margin-bottom: .5rem;
                font-size: 1rem;
              }
            }
          }

          .module-details {
            p {
              color: $link-color;
              font-size: 1rem;
              line-height: 1.2rem;
              margin-bottom: .3rem;

              @media (max-width: 1366px) {
                font-size: .9rem;
                margin-bottom: 0;
              }
            }
          }
        }
      }

    }
  }



  .navbar {
    height: 4.25rem;
    background-color: $white;
    border-bottom: $navbar-border-bottom;
    padding: 1.4rem 3rem;
    box-shadow: 0 1px 4px 3px rgb(145 145 145 / 10%);

    @media (max-width: 768px) {
      height: auto;
      padding: 0rem 0rem;

    }


    @media (max-width: 640px) {

      .mob_hide {
        display: none;
      }

    }




    .dropdown {
      .nav-link {

        .profile-sm-text {
          font-size: 0.75rem;
          line-height: 0.9rem;
          opacity: 0.6;
          color: $white;
        }

        padding: 1rem 1.4rem;
        background: #1D4A96;

        @media (max-width: 640px) {
          padding: 1rem 1.2rem;
        }
      }

      .mob_setting {
        background: #1f4b93;
        color: #fff;
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.3rem;
      }

    }


    @include transtionDefault(all, 0.6s, ease);

    @include media-breakpoint-up(lg) {
      height: 4.3rem;;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 12;
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 100vw;
    }

    .avatar {
      height: 36px;
      width: 36px;
    }

    .dropdown-menu {
      .dropdown-item {

        &:active,&:hover,&:focus {
          background-color: #e8effa !important;
        }
        

        i {
          font-size: 1.3rem;
        }

        font-size: 1rem;
        color: #292929;
        line-height: 1.8rem;
        font-weight: 400;
        display: flex;
        border-radius: 0;
        align-items: center;
      justify-content: self-start;
        column-gap: 0.5rem;
      }

      margin-top: 0.9rem;
      padding: 0;
      min-width: 14rem;
      border-radius: .375rem;
    }

    .dropdown-menu-lg {
      min-width: 20rem;

      .list-group-item {
        border-width: 0 0 1px;

        small {
          font-size: .75rem;
        }

        &:hover {
          background-color: $gray-100;
        }
      }
    }

    .dropdown-menu-header {
      border-bottom: 1px solid #dee2e6;
      font-weight: 600;
      padding: 0.75rem;
      text-align: center;
    }

    .dropdown-menu-footer {
      font-size: .85rem;
      padding: 0.5rem;
      text-align: center;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .navbar-nav {
      direction: ltr;
    }

    .navbar-align {
      margin-left: auto;
    }

    .navbar-bg {
      background: $navbar-bg;
    }

    .nav-icon,
    .nav-flag {
      padding: 0.8rem 1.4rem;
      display: block;
      font-size: 1.4rem;
      transition: 0.5s;
      &:hover {
        background: #1D4A96;
        transition: 0.5s;
      }

      color: $white;
      line-height: 1;

      &:after {
        display: none !important;
      }

      &:hover,
      &.active {
        color: $white;
      }


      @media (max-width: 768px) {
        padding:  0.8rem 0.8rem;
     

      }



    }
  }

  .nav-item .top_head_text {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    line-height: 0.975rem;
  }

  .indicator {

    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: -3px;
    right: 13px;
    line-height: 5px;
    background: $red;
    color: $white;


  }

  .navbar-blue {
    background-color: $pastel-blue-light;
  }


}


@include media-breakpoint-down(lg) {
  .navbar {
    padding: 0.75rem;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    width: 99%;
    margin: 4px;
    border-radius: 10px;
    height: 4.25rem;

    .dropdown-menu-lg {
      min-width: 18rem;
      right: -132%;
    }

    &.tob-bar {
      height: 0;
    }
  }

  

  .nav-icon {
    padding: 0.1rem 0.75rem;
  }

  // .navbar-expand .navbar-nav .dropdown-menu-lg {
  //   min-width: 100%;
  // }

  .nav-item .nav-link:after {
    display: none;
  }
}


@include media-breakpoint-down(sm) {
  .navbar {
    width: 98%;
  }
}