@font-face {
  font-family: 'rajmines-icon';
  src:  url('../fonts/rajmines-icon.eot?i3ih4d');
  src:  url('../fonts/rajmines-icon.eot?i3ih4d#iefix') format('embedded-opentype'),
    url('../fonts/rajmines-icon.ttf?i3ih4d') format('truetype'),
    url('../fonts/rajmines-icon.woff?i3ih4d') format('woff'),
    url('../fonts/rajmines-icon.svg?i3ih4d#rajmines-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rajmines-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delivery-truck:before {
  content: "\e95a";
}
.icon-mineral-trolly:before {
  content: "\e95b";
}
.icon-eye1:before {
  content: "\e919";
}
.icon-device-tagging:before {
  content: "\e94d";
}
.icon-image-slash:before {
  content: "\e94e";
}
.icon-mobile-notch:before {
  content: "\e94f";
}
.icon-email-sent:before {
  content: "\e950";
}
.icon-calendar-clock:before {
  content: "\e951";
}
.icon-truck-moving:before {
  content: "\e952";
}
.icon-router:before {
  content: "\e953";
}
.icon-thumb-pin:before {
  content: "\e955";
}
.icon-maintenance:before {
  content: "\e956";
}
.icon-file-edit:before {
  content: "\e957";
}
.icon-deactivate:before {
  content: "\e958";
}
.icon-activate:before {
  content: "\e959";
}
.icon-limit-hand:before {
  content: "\e938";
}
.icon-route-deviation:before {
  content: "\e939";
}
.icon-location-dot-slash:before {
  content: "\e93a";
}
.icon-delay:before {
  content: "\e93b";
}
.icon-on-time-check:before {
  content: "\e940";
}
.icon-active-trip:before {
  content: "\e941";
}
.icon-bell-notification:before {
  content: "\e942";
}
.icon-map-track:before {
  content: "\e943";
}
.icon-geo-fencing:before {
  content: "\e944";
}
.icon-dashboard-vts:before {
  content: "\e945";
}
.icon-user-alt:before {
  content: "\e946";
}
.icon-cloud-upload:before {
  content: "\e947";
}
.icon-logout:before {
  content: "\e948";
}
.icon-mining-operator:before {
  content: "\e949";
}
.icon-gps-vendor:before {
  content: "\e94a";
}
.icon-system-admin:before {
  content: "\e94b";
}
.icon-new-vendor:before {
  content: "\e94c";
}
.icon-excel:before {
  content: "\e937";
}
.icon-trash:before {
  content: "\e93c";
}
.icon-edit:before {
  content: "\e93d";
}
.icon-eye:before {
  content: "\e93e";
}
.icon-filter-search:before {
  content: "\e93f";
}
.icon-calendar:before {
  content: "\e954";
}
.icon-academic-dashboard:before {
  content: "\e91b";
}
.icon-accreditation-sdo:before {
  content: "\e91c";
}
.icon-communication-window:before {
  content: "\e91d";
}
.icon-consultation:before {
  content: "\e91e";
}
.icon-dashboard-reporting:before {
  content: "\e91f";
}
.icon-document-management:before {
  content: "\e920";
}
.icon-manak-manthan:before {
  content: "\e921";
}
.icon-master:before {
  content: "\e922";
}
.icon-meeting-management:before {
  content: "\e923";
}
.icon-national-directory:before {
  content: "\e924";
}
.icon-nwip:before {
  content: "\e925";
}
.icon-planning:before {
  content: "\e926";
}
.icon-projects:before {
  content: "\e927";
}
.icon-quizzes-competitions:before {
  content: "\e928";
}
.icon-research-development:before {
  content: "\e929";
}
.icon-standardization-cells:before {
  content: "\e92a";
}
.icon-standards:before {
  content: "\e92b";
}
.icon-standards-awareness-programme:before {
  content: "\e92c";
}
.icon-standards-club:before {
  content: "\e92d";
}
.icon-technical-committee:before {
  content: "\e92e";
}
.icon-training:before {
  content: "\e92f";
}
.icon-user-management:before {
  content: "\e930";
}
.icon-world-standards:before {
  content: "\e931";
}
.icon-group-meeting:before {
  content: "\e932";
}
.icon-menu-control-board:before {
  content: "\e933";
}
.icon-menu-key:before {
  content: "\e934";
}
.icon-nwip-user:before {
  content: "\e935";
}
.icon-switch-role:before {
  content: "\e936";
}
.icon-search-normal:before {
  content: "\e918";
}
.icon-filter:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e90d";
}
.icon-content:before {
  content: "\e90f";
}
.icon-document-text:before {
  content: "\e913";
}
.icon-home-2:before {
  content: "\e915";
}
.icon-refresh:before {
  content: "\e916";
}
.icon-success:before {
  content: "\e917";
}
.icon-left-arrow:before {
  content: "\e901";
}
.icon-right-arrow:before {
  content: "\e909";
}
.icon-become-member:before {
  content: "\e900";
}
.icon-bis-dashboard:before {
  content: "\e902";
}
.icon-bis-log-out:before {
  content: "\e903";
}
.icon-certification-scheme:before {
  content: "\e904";
}
.icon-comments:before {
  content: "\e905";
}
.icon-communication:before {
  content: "\e906";
}
.icon-control-board:before {
  content: "\e907";
}
.icon-help-message:before {
  content: "\e908";
}
.icon-international-relation:before {
  content: "\e90a";
}
.icon-market-surveillance:before {
  content: "\e90b";
}
.icon-mgmt-system-certification:before {
  content: "\e90c";
}
.icon-recruitment:before {
  content: "\e90e";
}
.icon-standardization-cell:before {
  content: "\e910";
}
.icon-standard-portal:before {
  content: "\e911";
}
.icon-standard-promotion-portal:before {
  content: "\e912";
}
.icon-utility:before {
  content: "\e914";
}
